@import url('https://fonts.googleapis.com/css?family=Oswald');

html {

	font-size: 18px;
}

body {

	font-family: 'Oswald', sans-serif;
	padding: 1.5rem;
	text-align: center;
}

h1 {

	font-size: 3rem;
	margin-top: 0;
}

h3 {

	margin-top: 0;
}

#searchField {

	margin-left: 1rem;
	display: inline-block;
	text-align: left;
}

#searchField

#search label {

	text-decoration: underline;
}

#rangeSearch label {

	text-decoration: underline;

}

input {

	outline-color: black;
	margin-top: .5rem;
	margin-bottom: .25rem;
}

#listDiv {

	border: 2px solid black;
	padding: 1.5rem;
	margin-top: .25rem;
	display: inline-block;
	width: 320px;
	height: 225px;
}

#listName {

	text-align: center;
}

#listName a {

	color: blue;
}

.searchSubmit {

	background-color: black;
	color: white;
	height: 1.5rem;
	width: 5rem;
	font-size: .75rem;
}


.form-check-input {

	cursor: pointer;
}

.input {

	height: 1.5rem;
	width: 10rem;
	text-align: center; 
	border: 1px solid black;
}



