@import url('https://fonts.googleapis.com/css?family=Oswald');

body {

	font-family: 'Oswald', sans-serif;
}

h1 {

	font-size: 3rem;
}

input {

	outline-color: black;
}

#listDiv {

	border: 2px solid black;
	padding: 1.5rem;
	margin-top: .25rem;
	display: inline-block;
	width: 320px;
	height: 225px;

}

#listName {

	text-align: center;
}

#listName a {

	/*font-weight: 800;*/
	color: blue;
}

.searchSubmit {

	background-color: black;
	color: white;
}

#searchField {

	margin-left: 1rem;
}